@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Overpass:wght@100&family=Updock&display=swap');

body{
    font-family: 'Overpass', sans-serif;
}
header{
    background: url(../img/bg-1.svg);
    height: 700px;
    background-size: cover;
    background-color: #ebeafa;
}
footer{
    width: 100%;
    height: 300px;
}
.icons img{
    height: 10%; 
    width: 10%;
}
.margin{
    padding-right: 150px;
}
.header-item{
    background-color: #c04ae2 !important;
    border-color: #c04ae2 !important;
}
#build-trust-first{
    width: 100%;
    height: 500px;

}
main{
    width: 100%;
    height: 100%;
    background: url(../img/Background.png);
    background-size: cover;
}
.item-main1{
    background-color:  rgba(169, 169, 169, 0.452);
    padding-bottom: 50px;
}
.item-main2{
    background-color: rgba(47, 79, 79, 0.39);
    height: 500px;
    padding-top: 50px;
}

.build-item-title h4,h1{
    width: 50%;
}
.build-item-title h4{
    font-size: 1rem;
    color: #c04ae2
}
.item-what-we-do{
    color: #c04ae2
}
.trust-item{
    border: 6px solid #fcd7df;
    border-radius: 18px;
}
.trust-item1{
    border-radius: 18px;
    border: 6px solid #c9f3e2;
}
.trust-item h1{
    font-size: 2rem;
    height: 90%;
    width: 90%;
}
.trust-item1 h1{
    font-size: 2rem;
    height: 90%;
    width: 90%;
}
#Most-innovate{
    width: 100%;
    height: 5   00px;
}
.most-item-img img{  
border-radius: 15px;
-webkit-clip-path: polygon(0% 0%,100% 0%,100% 70%,90% 80%,80% 90%,70% 100%,0% 100%);
  clip-path:polygon(0% 0%,100% 0%,86% 64%,82% 81%,79% 92%,76% 100%,0% 100%);
  height: 100%;
  width: 100%;
  margin-left: 47px;

}
.most-item-img1 img{
    border-radius: 15px;
    -webkit-clip-path: polygon(0% 0%,100% 0%,100% 70%,90% 80%,80% 90%,70% 100%,0% 100%);
  clip-path: polygon(17% 0%,100% 0%,100% 100%,100% 100%,100% 100%,70% 100%,0% 100%);
  height: 100%;
  width: 100%;
  margin-top: 100px;
}
.item-most{
    font-size: 0.9rem;
}
.item-most1{
    font-size: 1rem !important;
}
#What-we-do{
    width: 100%;
    height: 1300px;
    background-color:#c14ae221;
    padding-top: 100px;
    padding-bottom: 50px;    
}
.what-item h5{
    font-size: 1rem !important;
}
.what-item h1{
    font-size: 2.5rem !important;
}
.we-item{
    margin-top: 25px;
}
.we-item1{
    margin-top: 50px;
}
footer{
    width: 100%;
    height: 500px;
}
.item-footer{
    color: black;
}
.item-footer ul>li{
    text-decoration: none;
    list-style: none;
}
.item-footer ul>li>a{
    color: black;
    text-decoration: none;
}
.icons1 img{
    width:  18%;
    height: 15%;
    text-decoration: none
}
.img-footer{
    background-repeat: no-repeat;
    position: relative;
    top: 25px;
    left:290px;

}